* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #183bf0;
  height: 100vh;
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cards-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: auto;
}

.cards-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.cards-container__inner-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 640px;
  max-height: 640px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 5px;
  perspective: 1000px;
}

.card__card-container--quantity-12 {
  width: calc((100% - 40px) / 4);
  height: calc((100% - 77px) / 3);
}

.card__card-container--quantity-20 {
  width: calc((100% - 50px) / 5);
  height: calc((100% - 87px) / 4);
}

.card__card-container--quantity-30 {
  width: calc((100% - 60px) / 6);
  height: calc((100% - 97px) / 5);
}

.card__card-container {
  margin: 5px;
  transform: scale(1);
  transition: transform 0.4s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card__card-container--scale:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card__front-img {
  transform: rotateY(180deg);
}

.card__front-img,
.card__back-img {
  backface-visibility: hidden;
  padding: 15%;
  border-radius: 7px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d4daf7;
  object-fit: contain;
}

.card__card-container--flip {
  transform: rotateY(180deg);
}

.difficulty-container__hidden,
.card__card-container--hidden,
.cards-container__timer--hidden {
  visibility: hidden;
}

.cards-container__timer {
  width: 100%;
  text-align: center;
  color: #fba90a;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  margin: 5px;
}

.difficulty-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-container__inner-container {
  background-color: #d4daf7;
  border: 2px solid #000;
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.difficulty-container__radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.submit {
  color: #f980f5;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 8px;
  background-color: rgb(253, 253, 253);
  padding: 2px 10px;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  color: #9a0794;
  text-decoration: none;
}

.radio-container__radio-caption {
  font-size: 1.2rem;
  color: #9a0794;
  cursor: pointer;
}

.radio-container__radio-button {
  cursor: pointer;
}

.difficulty-container__header {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 8px;
  color: #580256;
}
