* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: #0D2CC9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width:640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image_in_table {
  padding: 3%;
  width: 22%;
  height: 32%;
  background: #798EF6;
  border-radius: 7px;
  margin: 5px;
  transform: scale(1);
  transition: transform .5s;
}
.image_in_table:active{
  transform: scale(0.97);
  transition: transform .2s;
}
.hidden {
  visibility: hidden;
}